
.add-item-button { 
    background-color: var(--color-primary); 
    color: var(--color-text-light); 
    border: none;
    border-radius: var(--border-radius-md); 
    padding: 12px 20px; 
    font-size: 1.1rem; 
    cursor: pointer;
    transition: background-color var(--transition-speed) ease, transform var(--transition-speed) ease, box-shadow var(--transition-speed) ease;
    margin-top: var(--spacing-md); 
    width: 100%; 
    max-width: 300px; 
    box-shadow: 0 4px 10px var(--color-shadow-light);
    font-family: var(--font-family-body); 
    font-weight: 600;
}

.add-item-button:hover {
    background-color: var(--color-primary-dark); 
    transform: translateY(-2px); 
    box-shadow: 0 6px 15px var(--color-shadow-dark); 
}


.add-item-button:disabled {
    background-color: #ccc;
    color: #999;
    cursor: not-allowed;
    transform: none;
    box-shadow: none;
}

.add-item-button:disabled:hover {
    background-color: #ccc;
    color: #999;
    cursor: not-allowed;
    transform: none;
    box-shadow: none;
}