.ItemList {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    gap: 20px; 
    padding: 20px;
}

.ItemList .Item {
    width: 250px; 
    max-width: 300px; 
}
