.ListGroup{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: auto;
    width: 1500px;
    padding: 8px;
    margin: 20px;
}

.product{
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: 190px;
    height: 450px;
    margin:  auto;

}

.product-marca{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.product-image{
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.product-title{
    text-align: center;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(47, 42, 47);
}

.Detalles{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.Boton-detalles {
    width: 100px;
    border-radius: 17px;
    height: 40px;
    background-color: rgb(182, 60, 121);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media (max-width: 768px) {
    .item-list-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .item-list-container {
        grid-template-columns: 1fr;
    }
}