
.custom-navbar {
    background-color: var(--color-bg-light-blue); 
    height: 60px;
    box-shadow: 0 2px 10px var(--color-shadow-light); 
    position: fixed; 
    top: 0;
    width: 100%;
    z-index: 1000; 
}

.custom-navbar-container {

    max-width: 1200px; 
    margin: 0 auto;
}

.custom-nav-link {
    text-decoration: none;
    font-family: var(--font-family-body);
    color: var(--color-text-light); 
    padding: 10px 15px; 
    font-size: 1.1rem; 
    font-weight: 500;
    transition: color 0.3s ease, background-color 0.3s ease;
    border-radius: 4px;
    white-space: nowrap;
}

.custom-nav-link:hover {
    color: var(--color-primary); 
    background-color: rgba(255, 255, 255, 0.1); 
}


.custom-navbar-brand {
    font-family: var(--font-family-headings);
    font-size: 1.8rem; 
    padding-right: var(--spacing-lg); 
    text-decoration: none;
    color: var(--color-text-light);
    font-weight: 700; 
}

.custom-navbar-brand:hover {
    color: var(--color-primary); 
}


.custom-navbar-nav {
    display: flex;
    align-items: center;

}


.custom-cart-item .custom-nav-link {
    display: flex;
    align-items: center;
    gap: var(--spacing-xxs); 
    padding: 0;
    background-color: transparent;
    border: none;
}

.custom-cart-item .custom-nav-link:hover {
    background-color: transparent; 
    color: var(--color-primary);
}

.cart-item-count {
    background-color: var(--color-primary); 
    color: var(--color-text-light);
    font-size: 0.8rem;
    border-radius: 50%; 
    padding: 3px 7px;
    position: relative;
    left: -5px;
    bottom: -5px;
    line-height: 1;
}


.custom-cart-item svg {
    fill: var(--color-text-light); 
    width: 24px;
    height: 24px;
    transition: fill 0.3s ease;
}

.custom-cart-item .custom-nav-link:hover svg {
    fill: var(--color-primary); 
}


.custom-toggler {
    border-color: rgba(255, 255, 255, 0.5);
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.8%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); /* Icono blanco */
}