p{
    text-align: center;
    
}

.navbar-nav a{
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(245, 245, 245);
    padding: 15px;
    font-size: 20px;
}



.navbar-brand a{
font-size: 30px;
padding-right: 25px;
text-decoration: none;
color: rgb(255, 255, 255);
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    
}

.navbar{
    background-color: rgba(107, 176, 203, 0.632);
height: 50px;
}