/* Contenedor principal del contador */
.Contador {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 16px;
}

/* Contenedor de los controles */
.Controles {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

/* Estilo de los botones */
.Button {
    background-color:rgb(160, 21, 91);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 1.2em;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 8px;
}

.Button:hover {
    background-color: #e6008e78; /* Lila un poco más oscuro al pasar el ratón */
}

.Button:disabled {
    background-color: #683550; /* Lila más apagado para el estado deshabilitado */
    cursor: not-allowed;

}

/* Estilo del resultado del contador */
.Resultado {
    font-size: 1.5em;
    margin: 0 16px;
    color: #6a1b9a; /* Lila oscuro para el número */
}

.Button-carrito{
background-color: rgb(182, 60, 121);
border-radius: 5px;color: white;
}

.Button-carrito:hover {
    background-color: rgb(145, 41, 93);
}

